/*----------------------------------------------------------------------------
  Import Stylesheet Includes
----------------------------------------------------------------------------*/
/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com

----------------------------------------------------------------------------*/
/* Let's default this puppy out
----------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
article, aside, figure, footer, header, nav, section, details, summary {
  display: block; }

/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
/* force a vertical scrollbar to prevent a jumpy page */
/*html {overflow-y: scroll;}  /* POTA remove this if deploying to SharePoint. Also remove it if you need to enable smooth scrolling. */
/* we use a lot of ULs that aren't bulleted.
	don't forget to restore the bullets within content. */
ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: inherit; }

a:hover, a:active {
  text-decoration: none; }

a:visited {
  color: inherit; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

select, input, textarea {
  font: 99% sans-serif; }

table {
  font-size: inherit;
  font: 100%; }

small {
  font-size: 85%; }

strong {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

/* Make sure sup and sub don't screw with your line-heights
	gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0; }

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible; }

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection {
  text-shadow: none; }

::selection {
  text-shadow: none; }

/*	j.mp/webkit-tap-highlight-color */
a:link {
  -webkit-tap-highlight-color: transparent; }

ins {
  background-color: #000;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #000;
  color: #000;
  font-style: italic;
  font-weight: bold; }

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder {
  color: #a9a9a9; }

textarea:-moz-placeholder {
  color: #a9a9a9; }

img {
  display: block; }

.cf:before, .cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

html {
  -webkit-font-smoothing: antialiased; }

/*----------------------------------------------------------------------------
  Animations
----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------
  Colors
----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------
  Font Families
----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------
  Font Sizes
----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------
  Font Weights
----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------
  Overlays
----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------
  Responsive Breakpoints
----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------
  Placeholders
----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------
  Responsive
----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------
  Transformations
----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------
  Transitions
----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------
  HTML
----------------------------------------------------------------------------*/
html {
  background: url("/img/dangerous_planet.jpg") black; }

@font-face {
  font-family: Starjhol;
  src: url("/fonts/Starjhol.ttf"); }

/*----------------------------------------------------------------------------
  Body
----------------------------------------------------------------------------*/
body {
  color: white; }

/*----------------------------------------------------------------------------
  Header Styles
----------------------------------------------------------------------------*/
header {
  /*min-width: 325px;*/
  padding: 20px 0;
  border-radius: 6px;
  text-align: center; }

/*----------------------------------------------------------------------------
  Headings
----------------------------------------------------------------------------*/
h1.header {
  margin: 0px auto;
  padding: 0px 0px 5px 0px;
  font-family: 'Starjhol', 'Exo';
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 64px;
  color: yellow;
  display: inline-block; }

h2.header {
  font-family: 'Starjhol';
  font-size: 35px;
  font-weight: normal;
  color: yellow; }

h3.header {
  padding: 0px 0px 5px 0px;
  color: white;
  font-size: 14px;
  font-family: cursive;
  font-style: italic; }

h2.intro {
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: 'Exo', sans-serif;
  font-size: 32px; }

/*----------------------------------------------------------------------------
  FORM ELEMENTS
----------------------------------------------------------------------------*/
#start-quiz {
  margin: 20px 10px 20px 0px; }

.start-quiz-label {
  font-family: 'Exo', sans-serif;
  font-size: 28px; }

.radio-label {
  background: black;
  border-radius: 5px;
  color: white;
  opacity: 0.8;
  padding: 5px;
  position: relative;
  transition: all 400ms ease-in-out; }

.radio-label:hover {
  background: yellow;
  color: maroon;
  opacity: 0.5; }

input[type="radio"]:checked + label {
  background: black;
  color: yellow;
  font-weight: bold;
  opacity: 1.0; }

input.formSubmit {
  background-color: #ac675f;
  border: none;
  color: white;
  opacity: 0.8;
  padding: 15px;
  border-radius: 4px;
  font-family: sans-serif;
  font-size: 20px;
  margin-top: 20px;
  font-weight: 700;
  transition: all 400ms ease-in-out; }

input.formSubmit:hover {
  background: maroon;
  color: yellow;
  font-weight: bold; }

input[type="radio"] {
  vertical-align: middle;
  visibility: hidden; }

button {
  border-radius: 6px;
  width: 200px;
  margin-left: 20px;
  margin-top: 20px;
  background-color: black;
  color: yellow;
  border: 1px solid yellow;
  text-align: center;
  font-size: 25px;
  font-family: "Coiny"; }

button.restart {
  margin-top: 40px; }

/*----------------------------------------------------------------------------
  Image
----------------------------------------------------------------------------*/
img {
  margin-bottom: 10px;
  border-radius: 5px; }

.image-wrap {
  border-radius: 5px; }

/*----------------------------------------------------------------------------
  Paragraph
----------------------------------------------------------------------------*/
p.questionText {
  font-size: 24px;
  margin-top: 18px;
  margin-bottom: 24px;
  width: 100%; }

p.intro-text {
  font-family: 'Exo', sans-serif;
  font-size: 22px;
  text-align: left; }

.optionPick li {
  margin-bottom: 18px;
  position: relative;
  vertical-align: middle; }

.question-container {
  margin: 0 auto;
  width: 90%; }

/*----------------------------------------------------------------------------
  Base
----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------
  Layout
----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------
  Modules
----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------
  Vendor
----------------------------------------------------------------------------*/
.formsBox {
  border: solid 1px yellow;
  border-radius: 5px;
  font-family: 'Exo', sans-serif;
  font-size: 18px;
  padding: 30px;
  margin-bottom: 15px;
  text-align: left; }
  @media only screen and (min-width: 620px) {
    .formsBox {
      display: inline-block;
      margin-left: 16px;
      vertical-align: top;
      width: 260px; } }
  @media only screen and (min-width: 850px) {
    .formsBox {
      display: inline-block;
      font-size: 22px;
      margin-left: 22px;
      width: 320px; } }

.results {
  color: yellow;
  font-size: 10px;
  margin-bottom: 10px;
  margin-top: -10px; }

.output {
  margin: 0 auto;
  max-width: 320px;
  text-align: center;
  width: 90%; }
  @media only screen and (min-width: 620px) {
    .output {
      max-width: 600px;
      width: 100%; } }
  @media only screen and (min-width: 850px) {
    .output {
      max-width: 850px;
      width: 100%; } }

.modal {
  background-color: black;
  border-radius: 5px;
  color: yellow;
  display: none;
  height: 30%;
  left: 15%;
  margin-top: 15%;
  overflow: auto;
  opacity: 0.9;
  padding-top: 10%;
  position: fixed;
  top: 15%;
  width: 70%;
  z-index: 1; }

.modal-content {
  border-radius: 5px;
  font-family: "Coiny";
  font-size: 20px;
  margin: 5%;
  margin-left: 10%;
  margin-top: -5%;
  padding: 20px;
  border: 1px solid yellow;
  width: 80%; }

.close {
  color: yellow;
  margin-top: -28px;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: darkred;
  cursor: pointer; }

@media only screen and (min-width: 720px) {
  select:last-of-type {
    margin-right: 0; } }

.loader {
  margin-top: 25%;
  margin-left: 40%;
  border: 16px solid gray;
  /* Light grey */
  border-top: 16px solid #f2e93c;
  /* Yellow */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.summary {
  text-align: center;
  color: yellow;
  font-family: "Trebuchet MS";
  font-size: 22px; }

p.questionText {
  color: yellow;
  font-family: "Trebuchet MS";
  font-size: 32px; }

.radioButtons {
  text-align: center; }

@media only screen and (min-width: 620px) {
  .image-wrap {
    display: inline-block;
    height: 430px;
    overflow: hidden;
    width: 260px; } }

@media only screen and (min-width: 850px) {
  .image-wrap {
    display: inline-block;
    height: 454px;
    width: 320px; } }

img {
  width: 100%; }
  @media only screen and (min-width: 620px) {
    img {
      height: 100%;
      width: auto; } }
