/*----------------------------------------------------------------------------
  HTML
----------------------------------------------------------------------------*/
html {

  background: url('/img/dangerous_planet.jpg') black;
}

@font-face {
  font-family: Starjhol;
  src: url('/fonts/Starjhol.ttf');
}

/*----------------------------------------------------------------------------
  Body
----------------------------------------------------------------------------*/
body {
  //font-family: $font1;
  color: white;
}

/*----------------------------------------------------------------------------
  Header Styles
----------------------------------------------------------------------------*/
header {
  /*min-width: 325px;*/
  padding: 20px 0;
  border-radius: 6px;
  text-align: center;
}

/*----------------------------------------------------------------------------
  Headings
----------------------------------------------------------------------------*/
h1.header {
  margin: 0px auto;
  padding: 0px 0px 5px 0px;
  font-family: 'Starjhol', 'Exo';
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 64px;
  color: yellow;
  //width: 550px;
  display: inline-block;
}
h2.header {
  font-family: 'Starjhol';
  font-size: 35px;
  font-weight: normal;
  color: yellow;
}
h3.header {
  padding: 0px 0px 5px 0px;
  color: white;
  font-size: 14px;
  font-family: cursive;
  font-style: italic;
}
h2.intro {
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: 'Exo', sans-serif;
  font-size: 32px;
}



/*----------------------------------------------------------------------------
  FORM ELEMENTS
----------------------------------------------------------------------------*/


#start-quiz {
  // margin-top: 20px;
  // margin-bottom: 10px;
  margin: 20px 10px 20px 0px;
}

.start-quiz-label {
  font-family: 'Exo', sans-serif;
  font-size: 28px;
}

.radio-label {
  background: black;
  border-radius: 5px;
  color: white;
  opacity: 0.8;
  padding: 5px;
  position: relative;
  transition: all 400ms ease-in-out;
}

.radio-label:hover {
  background: yellow;
  color: maroon;
  opacity: 0.5;
}

input[type="radio"]:checked + label {
  background: black;
  color: yellow;
  font-weight: bold;
  opacity: 1.0;
}

input.formSubmit {
  background-color: #ac675f;
  border: none;
  color: white;
  opacity: 0.8;
  padding: 15px;
  border-radius: 4px;
  font-family: sans-serif;
  font-size: 20px;
  margin-top: 20px;
  font-weight: 700;
  // text-transform: uppercase;
  transition: all 400ms ease-in-out;
}

input.formSubmit:hover {
  background: maroon;
  color: yellow;
  font-weight: bold;
}

input[type="radio"] {
  vertical-align: middle;
  visibility: hidden;
}

button {
  border-radius: 6px;
  width: 200px;
  margin-left: 20px;
  margin-top: 20px;
  background-color: black;
  color: yellow;
  border: 1px solid yellow;
  text-align: center;
  font-size: 25px;
  font-family: "Coiny";
}

button.restart {
  margin-top: 40px;
}

/*----------------------------------------------------------------------------
  Image
----------------------------------------------------------------------------*/
img {
  margin-bottom: 10px;
  border-radius: 5px;
}

.image-wrap {
  border-radius: 5px;
}

/*----------------------------------------------------------------------------
  Paragraph
----------------------------------------------------------------------------*/

p.questionText {
  font-size: 24px;
  margin-top: 18px;
  margin-bottom: 24px;
  width: 100%;
}

p.intro-text {
  font-family: 'Exo', sans-serif;
  font-size: 22px;
  text-align: left;
}

.optionPick li {
  margin-bottom: 18px;
  position: relative;
  vertical-align: middle;
}
