.formsBox {
  border: solid 1px yellow;
  border-radius: 5px;
  font-family: 'Exo', sans-serif;
  font-size: 18px;
  padding: 30px;
  margin-bottom: 15px;
  text-align: left;
  @include responsive(hoover) {
    display: inline-block;
    margin-left: 16px;
    vertical-align: top;
    width: 260px;
  }
  @include responsive(kennedy) {
    display: inline-block;
    font-size: 22px;
    margin-left: 22px;
    width: 320px;
  }
}

.results {
  color: yellow;
  font-size: 10px;
  margin-bottom: 10px;
  margin-top: -10px;

}

.output {
  margin: 0 auto;
  max-width: 320px;
  text-align: center;
  width: 90%;
  @include responsive(hoover) {
    max-width: 600px;
    width: 100%;
  }
  @include responsive(kennedy) {
    max-width: 850px;
    width: 100%;
  }
}

.modal {
  background-color: black;
  border-radius: 5px;
  color: yellow;
  display: none;
  height: 30%;
  left: 15%;
  margin-top: 15%;
  overflow: auto;
  opacity: 0.9;
  padding-top: 10%;
  position: fixed;
  top: 15%;
  width: 70%;
  z-index: 1;
}

.modal-content {
  border-radius: 5px;
  font-family: "Coiny";
  font-size: 20px;
  margin: 5%;
  margin-left: 10%;
  margin-top: -5%;
  padding: 20px;
  border: 1px solid yellow;
  width: 80%;
}

.close {
  color: yellow;
  margin-top: -28px;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: darkred;
  cursor: pointer;
}

@media only screen and (min-width: 720px) {
  select:last-of-type {
    margin-right: 0;
  }
}

.loader {
  margin-top: 25%;
  margin-left: 40%;
  border: 16px solid gray; /* Light grey */
  border-top: 16px solid #f2e93c; /* Yellow */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.summary {
  text-align: center;
  color: yellow;
  font-family: "Trebuchet MS";
  font-size: 22px;
}

p.questionText {
  color: yellow;
  font-family: "Trebuchet MS";
  font-size: 32px;
}

.radioButtons {
  text-align: center;
}
